<!-- "url" est définie dans les fichiers ejs de "articles" afin de gérer dynamiquement avec partials  -->
<div class="edit_delete">
    <a class="btn btn-primary" href="/forms/<%= url %>/edit">Modifier</a>
</div>