<%-include('../partials/head');%>

<header>
    <nav class="header-nav">
        <a href="/" class="header-title">E-commerce</a>
        <% if (user) { %>
        <p>Salut <%= name %> </p>
        <% } %>

        <ul>
            <% if (user) { %>
            <li>
                <a href="/forms/posts">
                    Poster
                </a>
            </li>
            <li>
                <a href="/auth/logout">
                    Déconnexion
                </a>
            </li>
            <% } else if (!locals.user){ %>
            <li>
                <a href="/auth/register">
                    Inscription
                </a>
            </li>
            <li>
                <a href="/auth/login">
                    Connexion
                </a>
            </li>
            <% } %>
        </ul>

        <p>Panier :
            <%=  %>
        </p>

    </nav>
</header>