<%-include('../partials/head');%>

<header>
    <nav class="header-nav">
        <a href="/" class="header-title">E-commerce</a>
        <ul>
            <li><a href="/">...</a></li>
            <li><a href="/">...</a></li>
            <li><a href="/">...</a></li>
            <li><a href="/">...</a></li>
        </ul>
    </nav>
</header>