<%-include('../partials/head');%>

<header>
    <nav class="header-nav">
        <a href="/" class="header-title">E-commerce</a>
        <ul>
            <li>
                <a href="/forms/posts">
                    poster
                </a>
            </li>
            <li>
                <a href="/auth/register">
                    Inscription
                </a>
            </li>
            <li>
                <a href="/auth/login">
                    Connexion
                </a>
            </li>
            <li>
                <a href="/auth/logout">
                    Déconnexion
                </a>
            </li>
        </ul>
    </nav>
</header>