<div class="container">
    <div class="row">
        <div class="col">
            <label>Nom de l'article</label>
            <input type="text" name="name" value="<%= this.title %>">
        </div>

    </div>
</div>