<div class="container">
    <div class="row">
        <div class="col">
            <label>Nom de l'article</label>
            <!-- TODO: voir le this, quel article(entre les 4) -->
            <input type="text" name="name" value="<%= this.title %>">
        </div>

    </div>
</div>